/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### 排除idea文件 ###

/.idea/compiler.xml
/.idea/dictionaried/
/.idea/encodings.xml
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
springboot.iml