/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### 排除idea文件 ###
compiler.xml
dictionaried/
encodings.xml
inspectionProfiles/
libraries/
misc.xml
modules.xml
workspace.xml
springboot.iml